name: Run clang-format Linter
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: DoozyX/clang-format-lint-action@v0.13
      with:
        source: 'src'
        exclude: 'src/3rdparty'
        extensions: 'h,cpp'
        clangFormatVersion: 12
        inplace: True
    - uses: EndBug/add-and-commit@v4
      with:
        author_name: github-actions
        author_email: noreply@github.com
        message: 'Format code with clang-format.'
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
